﻿@model IEnumerable<BartenderApp.Models.Drink>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DrinkName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DrinkPrice)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DrinkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrinkPrice)
            </td>
            <td>
                <a asp-action="PlaceOrder" asp-route-id="@item.DrinkID">Place Order</a>
            </td>
        </tr>
}
    </tbody>
</table>
