﻿@model IEnumerable<BartenderApp.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h2>Servers</h2>
<h3>
    Information 
</h3>
<p>
    Each table is equipped with a kiosk with a unique number. Fulfill the orders and return to this station regularly 
    to complete new ones.
</p>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Order)
                </th>
            
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
